{% extends 'base_admin.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

    

{% block body %}



<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus ad consectetur accusantium totam illo beatae veritatis praesentium non recusandae delectus! Ut omnis consequatur error neque voluptates aut fugiat rem veritatis?</p>


{% endblock %}
